[buildout]
parts =
    productdistros
    instance
    zopepy
    site

# Change the number here to change the version of Plone being used
extends = 
    http://download.zope.org/Zope2/index/2.12.3/versions.cfg
    http://dist.plone.org/release/4.0.2/versions.cfg
versions = versions


# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.0.2
    http://dist.plone.org/thirdparty
    http://dist.plone.org/thirdparty/PILwoTk-1.1.6.4.tar.gz

#Add additional eggs here
eggs =
    PILwoTk
# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/theme.deu
#    src/deu.policy
    src/deu.contentypes

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.distros
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages =

[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
user = portal:123456
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage
# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Zope2
    Plone
#    plone.reload
#    Products.DocFinderTab
    theme.deu
#    deu.policy
    deu.contentypes
    Products.CMFNotification
#    Products.CacheSetup
    sc.social.bookmarks
#    collective.recaptchawidget
    collective.recaptcha
    collective.simplesocial
    Products.PlonePopoll
    quintagroup.plonecomments
    quintagroup.plonecaptchas
	
    ${buildout:eggs}

environment-vars =
    zope_i18n_compile_mo_files true

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
#    plone.reload
    theme.deu
#    deu.policy
    deu.contentypes
    quintagroup.plonecomments
    sc.social.bookmarks
#    collective.recaptchawidget
    collective.recaptcha
    collective.simplesocial
    quintagroup.plonecomments
    quintagroup.plonecaptchas

products =
    ${buildout:directory}/products
    ${productdistros:location}

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[versions]
plone.z3cform>=0.5.11dev
zope.i18n=3.7.0
plone.z3cform >= 0.5.11dev
plone.app.z3cform>=0.5.0
zope.i18n >= 3.7.0
z3c.form = 2.4.2
zope.schema = 3.7.1

[site]
recipe = collective.recipe.plonesite
site-id = deu
site-replace = false
instance = instance
admin-user = portal
products-initial = 
    theme.deu
#    deu.policy
    Products.CMFNotification
    sc.social.bookmarks
    collective.recaptcha
    collective.plonetruegallery[all]
    collective.simplesocial
    Products.PlonePopoll
    quintagroup.plonecomments
    quintagroup.plonecaptchas

post-extras = 
   ${buildout:directory}/estructura.py


